@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

@font-face {
    font-family: "Satoshi";
    src: url(assets/66aa728085dec3390cb7f058_Satoshi-Variable.ttf);
}
@font-face {
    font-family: "Helvetica";
    src:url(assets/HelveticaNowDisplay-Black_20bf03d0.ttf) ;
}

@theme {
    --font-Helvetica: "Helvetica";
    --font-Satoshi: "Satoshi";
    --animate-rotate-clock-wise: rotate-clock-wise 2s linear infinite;
}

@keyframes rotate-clock-wise {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

body::-webkit-scrollbar{
    width: 6px;
    background-color:#fff;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
}
body{
    background: #000000;
}
#scroller::-webkit-scrollbar{
    width: 6px;
    background-color:#000000;
}

#scroller::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
#view_1{
     background-image: 
    linear-gradient(to top,rgb(0, 0, 0), rgba(8, 10, 10, 0.5),rgba(201, 249, 245, 0.2), rgba(201, 249, 245, 0),rgba(201, 249, 245, 0),rgba(201, 249, 245, 0)),
    url("/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background: #63636353; */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}